{% extends 'base.html.twig' %}

{% block title %}Votre espace
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center brun mt-3">Bienvenue dans votre espace
			{{ user.firstName | capitalize }}
			{{ user.lastName | capitalize}}</h1>
	</div>
	<div class="col text-center">
		<p>Vous résidez
			{{ user.adress | capitalize }}
			{{ user.codePostal | capitalize }}
			à
			{{ user.location | capitalize }}</p>
	</div>
	<div class="col text-center mt-5">
		{% if cart %}
			<button class="btn btn-primary btn-sm bouton">
				<a class="nav-link" id="inscription" href="{{ path('cart_show') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-heart"></i>
					Vos achats</a>
			</button>

		{% else %}
			<p>Rien dans votre liste d'achat(s).</p>
		{% endif %}
		{% if purchase %}
			<button class="btn btn-primary btn-sm bouton">
				<a class="nav-link" id="inscription" href="{{ path('purchase_index') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-heart"></i>
					Ce que vous avez commandé.</a>
			</button>

		{% else %}
			<p>Vous n'avez encore rien commandé.</p>
		{% endif %}
	</div>
	<div class="col text-center mt-3">
		<a class="bouton btn btn-success btn-sm" id="" href="{{ path('user_edit', {'id': app.user.id}) }}">Modifier vos informations</a>
	</div>

	{% if app.user %}
		<script>
			document.getElementById('inscription').style.display = 'none';
		</script>
		<script>
			document.getElementById('connexion').style.display = 'none';
		</script>
		<script>
			document.getElementById('admin').style.display = 'none';
		</script>
	{% else %}
		<script>
			document.getElementById('inscription').style.display = 'block';
		</script>
		<script>
			document.getElementById('connexion').style.display = 'block';
		</script>
		<script>
			document.getElementById('admin').style.display = 'none';
		</script>
		<script>
			document.getElementById('deconnexion').style.display = 'none';
		</script>
		<script>
			document.getElementById('member').style.display = 'none';
		</script>
	{% endif %}
	{% if is_granted('ROLE_ADMIN') %}
		<script>
			document.getElementById('admin').style.display = 'block';
		</script>
	{% endif %}
{% endblock %}
