<nav class="navbar navbar-expand-lg nav mx-auto" id="navigation">


	<div class="navbar-toggle navbar-collapse" id="">
		<ul class="navbar-nav text-center">
			<li class="nav-item cadre1">
				<a class="nav-link" id="pas_vu" href="{{ path('home_base' ) }}">Accueil</a>
			</li>
			<li class="nav-item cadre2">
				<a class="nav-link" id="toiles" href="{{ path('picture_index' ) }}">Les toiles</a>
			</li>
			<li class="nav-item cadre3">
				<a class="nav-link" id="contact" href="{{ path('contact_email' ) }}">Contact</a>
			</li>

		</ul>
		<p class="nom">Eric Delangle déco</p>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="{{ path('cart_show') }}" class="nav-link" id="achats">
					<i class="fas fa-shopping-bag bleuMarine"></i>
					Vos achats</a>
			</li>
			<li lass="nav-item">
				<a class="nav-link" id="inscription" href="{{ path('security_registration') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-user-circle bleuCiel"></i>
					Inscription</a>
			</li>
			<li lass="nav-item">
				<a class="nav-link" id="connexion" href="{{ path('security_login') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-sign-in-alt rose"></i>
					Connexion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="deconnexion" href="{{ path('security_logout') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-sign-out-alt bleuCiel"></i>
					Déconnexion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="member" href="{{ path('member_account') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-home rose"></i>
					Votre compte</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="admin" href="{{ path('admin_index') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-tools"></i>
					Administration</a>
			</li>
		</ul>

	</div>
</nav>
