{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<h1>Vos commandes</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nom de la commande</th>
				<th>Rue de livraison</th>
				<th>Code postal</th>
				<th>Ville</th>
				<th>Total</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for item in purchase %}
				<tr>
					<td>{{ item.fullName }}</td>
					<td>{{ user.total }}</td>
					<td>{{ user.adress }}</td>
					<td>{{ user.codePostal }}</td>
					<td>{{ item.city }}</td>
					<td>{{ item.status }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="12">Pas de commande en cours.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('purchase_edit', {'id': purchase.id}) }}">Modifier votre commande.</a>

	{{ include('purchase/_delete_form.html.twig') }}
{% endblock %}
